body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer {
  margin-top: auto;
}
.form-signin {
  max-width: 350px;
  padding: 15px;
}
.error {
  color: red;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.categories-list {
  a {
    text-decoration: none;
  }
  .card {
    transition-duration: 0.5s;

    &:hover {
      background-color: antiquewhite;
      transform: scale(1.1);
    }
  }
}
