.fixed-top {
  position: sticky;
  top: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container-fluid {
  padding: 0;
}
.footer {
  margin-top: auto;
}
.form-signin {
  max-width: 350px;
  padding: 15px;
}
.error {
  color: red;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.categories-list {
  a {
    text-decoration: none;
  }
  .card {
    transition-duration: 0.5s;
    &:hover {
      $card-hover-color: #f8f9fa;
      background-color: $card-hover-color;
      // transform: scale(1.1);
      img{
        transition-duration: 0.5s;
        background-color: $card-hover-color;
        opacity: 0.8;
      }
    }
    .card-title{
      color: black;
    }
  }
}
